<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.dao.DangAnDao">

    <insert id="insertDangAn" parameterType="Dangan"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into dangan(shichangbu,
                           jiguan,
                           minzu,
                           jianhuren,
                           phone)
        values (#{shichangbu},
                #{jiguan},
                #{minzu},
                #{jianhuren},
                #{phone}
                )
    </insert>

</mapper>