<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.dao.StudentDao">
    <select id="listStudent" resultType="com.buba.pojo.Students">
        select * from students where 1=1
        <if test="stCode != null and stCode != ''">
            and studentCode like concat('%', #{stCode} ,'%')
        </if>
        <if test="stName != null and stName != ''">
            and studentName like concat('%', #{stName} ,'%')
        </if>
        <if test="sex != null and sex != ''">
            and sex = #{sex}
        </if>
    </select>
</mapper>